<%- include('../_layout/hlavicka') %>

<form action="/uzivatel/prihlasit" method="post">
    <input type="text" name="jmeno" placeholder="Jméno..." /><br />
    <input type="password" name="heslo" placeholder="Heslo..." /><br />
    <input type="submit" value="Přihlásit" />
</form>

<%- include('../_layout/paticka') %>
