<%- include('../_layout/hlavicka') %>

<p>Vítejte, <b><%= jmeno %>!</b></p>
<form action="/uzivatel/odhlasit" method="post">
    <input type="submit" value="Odhlásit" />
</form>

<%- include('../_layout/paticka') %>
