<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= nadpis %></title>
</head>
<body>
    <h1><%= nadpis %></h1>

    <a href="/aplikace/domov">Domů</a>
    <a href="/uzivatel/registrovat">Registrace</a>
    <a href="/uzivatel/prihlasit">Přihlášení</a>

    <% if(jmeno) { %>
    <a href="/uzivatel/profil">Profil</a>
    <% } %>

    <hr />